.body1{

    background-color: #ECECEC;
}

.txtcolor{
    color: #1C3F39;
}

.bgcolor{
    background-color: #01A786;
}

.bg_color2{
    background-color: #01A786;
}


.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px;
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.login {
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

.submit {
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #000000;
}