.bodycolor{
    background-color: #44AA6E;
}

.txt_color{
    /* color: #1C3F39; */
    color: #FFFFFF;
}
a:hover{
    color: #000000 !important;
}
.filter{
    filter: grayscale(1);
}

.bg_color1{
    background-color: #1C3F39;
}

.bg_color2{
    background-color: #39BFAD;
}

.bg_color3{
    background-color: #99E3CA;
}

.bg_color4{
    background-color: #F3F3F3;
}

.txtsize1{
    font-size: 3.5rem;
}
/* Image slider */
.mySlides {
    display: none;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.8s;
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* Image slider End */
/*Res Content Box sizing */
@media (min-width: 1200px)
.box-container {
    width: 1170px;
}

@media (min-width: 992px)
.box-container {
    width: 970px;
}
@media (min-width: 768px)
.box-container {
    width: 750px;
}
/*Res Content Box Sizing End */
.img1{
    height: 300px;
    width: 300px;
    
}

.img2{
    height: 300px;
    
}

.img3{
    height: 300px;
    width: 550px;
}

.font1{
    font-weight: bolder;
}

/* Font Style */

@font-face {
    font-family: "family1";
    src: url("fonts/Mayberry\ W02\ Extrabold.ttf");
    
}




.bg_color2{
    background-color: #0A8270;
}

/*Ratings*/

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 20px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width: 30px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}