.bodycolor{
    background-color: #FFFAEC;
}

.txt_color{
    color: #1C3F39;
}

.bg_color1{
    background-color: #1C3F39;
}

.bg_color2{
    background-color: #39BFAD;
}

.txtsize1{
    font-size: 3.5rem;
}

.img1{
    height: 300px;
    width: 300px;
    
}

.img2{
    height: 300px;
    
}

.bg_color2{
    background-color: #0A8270;
}

/*Ratings*/

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 20px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width: 30px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}